<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Users</li>
    </ol>
</nav>

<div class="users-list container m-4">
    <div class="row">
        <div class="col-sm-3 mt-4" *ngFor="let user of users">
            <user-card [user]="user"></user-card>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 mt-4">
            <button class="btn btn-primary" (click)="loadUsers()">Load More</button>
        </div>
    </div>
</div>
